# Set 1 – Python Basics

## 1. Area of a Circle

In [ ]:
r = float(input("Enter the radius: "))
area = 3.14 * r * r
print("Area of Circle is", area)

## 2. Student Details

In [ ]:
name = input("Enter the name: ")
roll = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll)
print("Mark:", mark)

## 3. Largest Number from List

In [ ]:
nums = [12, 3, 47, 10]
print(max(nums), "is the largest number.")

## 4. Sum of Current & Previous Number

In [ ]:
previous = 0
for current in range(1, 11):
    total = current + previous
    print("Current Number", current, "Previous Number", previous, "Sum:", total)
    previous = current

## 5. Numbers Divisible by 5

In [ ]:
nums = [10, 20, 33, 46, 55]
for n in nums:
    if n % 5 == 0:
        print(n)

## 6. Prime Number Check

In [ ]:
num = int(input("Enter the number: "))
is_prime = True

if num < 2:
    is_prime = False
else:
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

if is_prime:
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

## 7. Reverse a List

In [ ]:
lst = [10, 40, 30, 70]
rev = []
for i in range(len(lst)-1, -1, -1):
    rev.append(lst[i])
print(rev)

## 8. Pattern

In [ ]:
for i in range(1, 5):
    print("*" * i)

## 9. Maximum of Three Numbers

In [ ]:
a, b, c = 34, 12, 7
print(max(a, b, c))

## 10. Diamond Pattern

In [ ]:
for i in range(1, 6):
    print("*" * i)
for i in range(4, 0, -1):
    print("*" * i)

# Set 2 – Python Basics Part 2

## 1. Character Count

In [ ]:
s = input("Enter a string value: ")
for ch in sorted(set(s)):
    print(ch, "=", s.count(ch))

## 2. Maximum of Three

In [ ]:
def maximum(a, b, c):
    return max(a, b, c)

print(maximum(34, 12, 7))

## 3. Exponent Function

In [ ]:
def exponent(base, exp):
    return base ** exp

print(exponent(2, 3))

## 4. Sum of Cubes

In [ ]:
n = int(input("Enter number: "))
total = sum(i**3 for i in range(1, n))
print(total)

## 5. FizzBuzz 1–10

In [ ]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

## 6. Most Frequent Item

In [ ]:
nums = [2, 3, 4, 2, 5, 2]
print(max(nums, key=nums.count))

## 7. Sum of Squares

In [ ]:
lst = [2, 1, 3, 1]
print(sum(i*i for i in lst))

## 8. Odd/Even 1–15

In [ ]:
for i in range(1, 16):
    print(i, "- even" if i % 2 == 0 else "- odd")

## 9. Temperature Conversion

In [ ]:
f = float(input("Temperature in Fahrenheit: "))
c = (f - 32) * 5/9
print("Temperature in Celsius =", c)

## 10. Factorial Function

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

print(factorial(3))

# Set 3 – Python Practice Problems

## 1. Sum of Digits

In [ ]:
num = int(input("Enter number: "))
s = 0
for d in str(num):
    s += int(d)
print(s)

## 2. Factorial Function

In [ ]:
def fact(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f

print(fact(5))

## 3. Palindrome Check

In [ ]:
s = input("Enter word: ").replace(" ", "").lower()
print("Palindrome" if s == s[::-1] else "Not Palindrome")

## 4. Vowel & Consonant Count

In [ ]:
s = input("Enter sentence: ").lower()
vowels = "aeiou"
v = c = 0
for ch in s:
    if ch.isalpha():
        if ch in vowels:
            v += 1
        else:
            c += 1
print("Vowels:", v)
print("Consonants:", c)

## 5. Common Elements in Two Lists

In [ ]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
common = [x for x in a if x in b]
print(common)

## 6. Character Frequency

In [ ]:
s = input("Enter string: ")
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
print(freq)

## 7. Leap Year Check

In [ ]:
year = int(input("Enter year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

## 8. Prime Check

In [ ]:
n = int(input("Enter number: "))
if n < 2:
    print("Not Prime")
else:
    for i in range(2, n):
        if n % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")

## 9. Fibonacci Sequence

In [ ]:
t = int(input("Enter number of terms: "))
a, b = 0, 1
for _ in range(t):
    print(a, end=" ")
    a, b = b, a + b

## 10. Quadratic Equation Roots

In [ ]:
import math

a = float(input("a: "))
b = float(input("b: "))
c = float(input("c: "))

d = b*b - 4*a*c

if d >= 0:
    r1 = (-b + math.sqrt(d)) / (2*a)
    r2 = (-b - math.sqrt(d)) / (2*a)
    print("Roots:", r1, "and", r2)
else:
    print("No real roots")